/** 
author : Jacqueline Walsh
project: project 3 - Centric Design for Code Institute

This is the custom styling for the index page
**/

body {
  background-image: url('https://code-institute.s3-eu-west-1.amazonaws.com/chef-mate/404-wallpaper.jpg');
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
  background-position: center bottom;
  background-size: cover;  
}

#error-section {
  margin-top: -7em;
  background-color: rgba(225, 225, 255, 0.5);
  padding: 30px;
}

.btn, p {
  color: #e91c63;
  font-size: 1.2em;
  font-weight: 700;
}


