/** 
author : Jacqueline Walsh
project: project 3 - Centric Design for Code Institute

This is the main site general styling  
**/
@import url('https://fonts.googleapis.com/css?family=Chilanka|DM+Serif+Text|Libre+Baskerville|Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    margin-top: 7rem;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h6 {
    font-size: 1.1em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 160px;
}

.alert {
    z-index: 999;
}

/* navigation */
nav  {
    background-color:rgb(20, 20, 20);
    box-shadow: 2px 2px 2px #666; 
}

.navbar {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
}

.navbar-brand {
    font-size: 35px;
}

nav li a {
    font-size: .95em;
    text-transform: uppercase;
}

.nav-item {
    border: none;
    background: none;
    padding: 10px 20px;
    color: #ff0000;
    cursor: pointer;
    transition: 1.5s ease-in-out;
    position: relative;
    overflow: hidden;
  }

.nav-item:hover{
    color: #fff;
}

.nav-item::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(241,5,5,1) 100%);
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.nav-item:hover::before{
    height: 180%;
}

/* navigation bar logo */
img.logo {
    width: 60px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 20px;
}

/* ************* All Recipes Section ******************** */

/* recipe border */
.card {
    border: none;
}

/* receipe image */
.card-img-top {
    border-radius: 15px;
}

/* recipe image */
.link-single-recipe:hover {
    transform: scale(1.1);
}

/* pagination */
.fa-angle-left, .fa-angle-right {
    font-size: 3em;
    color: #666;
    padding: 10px;
}

span.pagination-link {
    color: #666;  
}

/* ************* single Recipes Section ******************** */
/* print recipe */
@media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
    nav {
        display: none;
    }
    header {
        display: none;
    }
    .no-print {
        display: none;
    }
    footer {
        display: none;
    }
  }

/* ratings */
span.rw-ui-dislike {
    padding-left: 40px;
}

.rw-ui-container.rw-size-large span.rw-ui-info {
    font-size: 15px;
}

.list-ingredients-background {
    background-image: url('https://code-institute.s3-eu-west-1.amazonaws.com/chef-mate/recipes/background-paper.png');
    background-repeat: no-repeat;
    background-size: auto cover;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: -50px !important;
}

.list-ingredients-background > h3 {
    margin-top: 120px;
}

.ingredients-heading, ul.ingredient-list {
    font-family: 'Chilanka', cursive;
}

ul.ingredient-list {
    list-style-type: none;
    padding-right: 40px;
    padding-left: 40px;
}

.note-paper-lines {
    width: 85%;
}

/* Receipe steps to follow  */
p.step-block.clearfix {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
}

span.step-text {
    padding-left: 20px;
}
/* credit to: https://www.formget.com/css-hr/ */
hr.hr-steps {
    height: 30px;
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    }
    hr.hr-steps:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    }

/* ************* container for login and registration pages ***************** */

.content-section {
    background: #fafafa;
    padding: 10px 20px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-top: 200px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px  #666;
  }

  /* ************* Dashboard page ***************** */

  iframe {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100%;
  }

/* footer section */
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-media {
    font-size: 2em;
    padding-left: 15px;
}

.footer-hr {
    width: 50%;
    border: .75px solid #ccc;
}

/* ********************* media query for mobile navbar ***************************** */
@media (max-width: 1500px) {


}
