{% extends "layout.html" %}
<!-- block link for custom styling -->
{% block login_signup_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
{% endblock login_signup_css%}
<!-- main content block -->
{% block content %}
<div class="content-section">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col" id="add-recipe-form">      
        <fieldset class="form-group">
            <img class="chefmate-logo"src="https://code-institute.s3-eu-west-1.amazonaws.com/chef-mate/chef-mate.png" alt="chef-mate-logo"/>
            <h1 class="text-center border-bottom mb-4">Add Recipe</h1>
            <br>
          <!-- Recipe name -->
          <div class="form-group">
            <h6>Recipe Title</h6>
            <input id="recipe_title" name="recipe_title" type="text" class="form-control" required>
          </div>
          <!-- diet type select field -->
          <div class="row">
            <div class="col-md-6">
              <h6>Dietry Type</h6>
                <div class="form-group">
                  <select id="diet" name="recipe_diet" required>
                    <option value="" disabled selected>Choose type of diet</option>
                      {% for diet in diets %}
                        <option value="{{diet.diet_name}}">{{ diet.diet_name }}</option>
                      {% endfor %}
                  </select>
                  <small><a href="{{url_for('diets')}}" class="ml-3">list or add dietary list</a></small>
                </div>
              </div>
              <!-- Country of Cuisine --> 
              <div class="col-md-6">
                <h6>Cuisine</h6>
                <div class="form-group">
                  <select id="cuisine" name="recipe_cuisine" required>
                    <option value="" disabled selected>Choose country</option>
                    {% for country in cuisine %}
                      <option value="{{country.cuisine_country}}">{{ country.cuisine_country }}</option>
                    {% endfor %}
                  </select>
                  <small><a href="{{url_for('cuisine')}}" class="ml-3">list or add a country</a></small>
                </div> 
              </div> 
            </div><br>
          <!-- Difficulty of dish -->
          <div class="row">
              <div class="col-md-6">
                <h6>Difficulty of dish</h6>
                  <div class="form-group">
                    <select id="difficulty" name="recipe_difficulty" required>
                      <option value="" disabled selected>Choose difficulty</option>
                        {% for diff in difficulty %}
                          <option value="{{diff.difficulty_level}}">{{ diff.difficulty_level }}</option>
                        {% endfor %}
                    </select>
                  </div>
              </div>           
              <!-- Number of peple it serves --> 
              <div class="col-md-6">
                  <h6>Servings</h6>
                  <div class="form-group">
                    <input type="number" name="recipe_servings" id="recipe_servings" class="form-control" required min=1>
                  </div> 
                </div> 
              </div><br>            
            <!-- ingredients dynamic input field -->
            <div class="row">
                <div class="col-md-6">  
                <div class="form-group">  
                  <h6>Ingredients</h6>
                  <div class="input_ingredients_wrap">
                    <button class="add_ingredients_button btn btn-success btn-sm mb-2">+ Add more</button>
                    <div>
                    <small>maximum number of ingredients 20</small>
                      <input type="text" name="recipe_ingredients" class="form-control mb-1" placeholder="Add Ingredient" required>
                    </div>
                  </div>
                </div>
              </div>  
            <!-- steps dynamic input field -->
              <div class="col-md-6">
                <div class="form-group">  
                  <h6>Step by Step Method</h6>
                  <div class="input_steps_wrap">
                    <button class="add_steps_button btn btn-success btn-sm mb-2">+ Add more</button>
                    <div>
                    <small>maximum number of steps 10</small>
                      <input type="text" name="recipe_steps" class="form-control mb-1" placeholder="Add Step" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Prep Time -->
            <div class="row">
              <div class="col-md-6">  
                <div class="form-group">
                  <h6>Preparation Time</h6>
                  <input id="recipe_prep" name="recipe_prep" type="number" placeholder="(mins)" class="form-control" required min=1>
                </div>
              </div>
            <!-- Cook Time -->   
              <div class="col-md-6">   
                <div class="form-group">
                  <h6>Cooking Time</h6>
                  <input id="recipe_cook" name="recipe_cook" type="number" placeholder="(mins)" class="form-control" required min=1>

                </div>
              </div>
            </div>
            <!-- Recipe Credits -->   
            <div class="row">  
              <div class="col-md-6">
                <div class="form-group">
                  <h6>Credit</h6>
                  {% if session.username  %}   
                    <input id="recipe_credits" name="recipe_credits" type="text" class="form-control" value="{{ session.username }}">
                  {% endif %}               
                </div>
              </div>
              <!-- Recipe Credits -->      
              <div class="col-md-6">
                <div class="form-group">
                  <h6>Recipe Image</h6>
                    <input name="recipe_image" type="url" class="form-control" placeholder="Image URL" id="recipe-image" >
                  </div>  
              </div> 
            </div>           
            <div class="row">
              <button class="btn btn-danger" type="submit" name="action">Add Recipe</button>
            </div>
      </fieldset>
    </form>
</div>
{% endblock content %}
