{% extends "layout.html" %}
<!-- block link for custom styling -->
{% block login_signup_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css')}}">
{% endblock login_signup_css%}
<!-- main content block -->
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    <!-- username input field with validation checks -->
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <!-- password input field with validation checks -->
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- remember me check box -->
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <!-- submit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <!-- forgot password link -->
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
            <!-- link to registration form -->
            <div class="border-top pt-3">
              <small class="text-muted">
                  Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
              </small>
          </div>
        </form>
    </div>
{% endblock content %}
