{% extends "layout.html" %}
<!-- block link for custom styling -->
{% block login_signup_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
{% endblock login_signup_css%}
<!-- main content block -->
{% block content %}
  <div class="content-section">
    <img class="chefmate-logo"src="https://code-institute.s3-eu-west-1.amazonaws.com/chef-mate/chef-mate.png" alt="chef-mate-logo"/>
      <h1 class="text-center">Profile</h1>
      <hr>
      <br>
    <div class="row">
      <div class="col-md-8">
        <p><strong>First Name:</strong> {{ user.firstname }}</p>
        <p><strong>Last Name:</strong> {{ user.lastname }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div> 
      <div class="col-md-4 text-right">
        <a href="{{url_for('edit_profile', user_id=user_id)}}" class="btn btn-sm btn-primary">Edit</a> 
        <a href="{{url_for('delete_profile', user_id=user_id)}}" class="btn btn-sm btn-danger">Delete</a>
      </div>
    </div>
  </div> 
{% endblock content %}