{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
  <!-- recipe title -->
  <h1 class="text-center mb-3">{{ recipe.recipe_title}}</h1>
  <hr>
  <button onclick="window.print()" class="btn btn-danger no-print">Print <i class="fa fa-print"></i></button> 
  <a href="{{ url_for('recipes', limit=6, offset=0) }}" class="btn btn-danger">back to all Recipes</a>
  <section class="section-one">
    <div class="row">
      <div class="card col-md-6 mt-4">
        <div>
          <!-- recipe image -->
          <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_title}}">
        </div>
      </div>
      <!-- prep / cooking time - credits - ratings -->
      <div class="card text-center col-md-6">
        <div>
          <!-- country of cuisine -->
          <h4>cuisine</h4>
          <i class="fa fa-globe pr-2 mb-t"></i> {{ recipe.recipe_cuisine }}<br>
        </div>
        <br>
        <div>
          <!-- dietary -->
          <h4>diet</h4>
          <i class="fas fa-concierge-bell pr-2 mt-2"></i> {{ recipe.recipe_diet }}<br>
        </div>
        <br>         
        <div>
          <!-- cooking time -->
          <h4>cooking time</h4>
          <i class="fa fa-clock pr-2 mt-2"></i> prep time:  {{ recipe.recipe_prep }} mins
          <i class="fa fa-clock pr-2 mt-2 ml-2"></i> cook time:  {{ recipe.recipe_cook }} mins
        </div>
        <br>
        <!-- Difficulty -->
        <div class="row text-center">
          <div class="col-md-6">
            <i class="fas fa-balance-scale mr-2 pr-2"></i><strong> difficulty: </strong> {{ recipe.recipe_difficulty }} 
          </div>
          <div class="col-md-6">
            <i class="fa fa-utensils mr-2 pr-2"></i><strong> servings: </strong> {{ recipe.recipe_servings }} 
          </div>
        </div>
        <br>
        <div>
          <!-- credits -->
          <div class="no-print">
            <h4>credit</h4>
              {{ recipe.recipe_credits }}
            </div>
        </div>
        <div><br>
          <!-- ratings -->
          <div class="no-print">
            <h4 class="mb-4">ratings</h4>
            <div class="rw-ui-container"></div>
          </div>
        </div>
        <br>
        <!-- edit and delete recipe buttons only used by admin -->
        {% if session.username == recipe.recipe_credits or session.username == 'admin' %}       
          <div class="col-md-11 text-center">
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary mr-2 pt-2">Edit</a> 
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger">Delete</a>
          </div>
        {% endif %}
      </div>        
  </div>

</section>
<br>
<hr>
<section class="section-two">
  <div class="row">
    <!-- loop to display ingredients -->
    <div class="col-md-6 mt-4 list-ingredients-background">
      <h3 class="ingredients-heading text-center mb-5">Ingredients</h3>
      {% for ingredients in recipe.recipe_ingredients %}
        <ul class="ingredient-list">
          <li class="ingredient-item">{{ ingredients }}</li>
        </ul>
        <hr class="note-paper-lines text-center">
      {% endfor %}
    </div>
    <!-- loop to display steps for cooking -->
    <div class="col-md-6 mt-5">
        <h3 class="text-center">Steps</h3>
        {% for steps in recipe.recipe_steps %}
          {% for i in steps %}
          {% endfor %} 
              <p class="step-block clearfix">{{ loop.index }}. <span class="step-text">{{ steps }}</span></p>
              <hr class="hr-steps">
        {% endfor %}
      </div> 
  </div>
</section>
<hr>

{% endblock content %}


