{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
    <h1 class="mb-3 text-center">Recipes</h1>
    <hr>
    <form class="form-inline justify-content-end search-form my-lg-0" action="{{ url_for('search_recipes') }}" >
        <input class="form-control mr-sm-2" name="db_query" type="search" placeholder="Search recipe by title" aria-label="Search">
        <button class="btn btn-outline-success search-form my-sm-0" type="submit">Search</button>
    </form>
	<div class="row">
        {% for recipe in recipes %}
        <div class="card col-md-4 mt-5">
            <div>
                <a href="{{url_for('recipe', recipe_id=recipe._id)}}">
                    <img class="card-img-top link-single-recipe" src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_title}}">
                </a>
            </div>
            <div class=text-center>
                <h5 class="card-title mt-4">{{ recipe.recipe_title }}</h5>
                <h6>{{ recipe.recipe_cuisine }}</h6>
            </div>
            <div class="text-center">
                <a href="{{url_for('recipe', recipe_id=recipe._id)}}"><button class="btn btn-danger btn-sm">recipe</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
	<hr>
	<div class="row justify-content-around">
	{% if offset > 0 %}
		<a href="{{prev_url}}" style="text-decoration: none;"><i class="fa fa-angle-left mt-4"></i><span class="pagination-link">Previous</span></a>
    {% endif %}
	{% if limit + offset < recipe_count %}
        <a href="{{next_url}}" style="text-decoration: none;"><span class="pagination-link">Next</span><i class="fa fa-angle-right mt-4"></i></a>
    {% endif %}
	</div>   
{% endblock content %}