{% extends 'layout.html' %}
<!-- main content block -->
{% block content %}
  <!-- recipe title -->
  <h1 class="mb-3">{{ recipe.recipe_title}}</h1>
  <hr>
  <button onclick="window.print()" class="btn btn-danger no-print">Print <i class="fa fa-print"></i></button> 
  <section class="section-one">
    <div class="row">
      <div class="card col-md-6 mt-4">
        <div>
          <!-- recipe image -->
          <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_title}}">
        </div>
      </div>
      <!-- prep / cooking time - credits - ratings -->
      <div class="card text-center col-md-6 mt-4">
          <!--  CUISINE TO GO HERE -->
        <br><br>
        <div>
          <!-- cooking time -->
            <h5>cooking time</h5>
              <i class="fa fa-clock-o"></i> prep time:  {{ recipe.recipe_prep }} mins<br>
              <i class="fa fa-clock-o"></i> cook time:  {{ recipe.recipe_cook }} mins
        </div>
        <!--  DIETARY TYPE TO GO HERE -->
        <div>
        <br><br>
          <!-- credits -->
          <div class="no-print">
            <h5>credit</h5>
              {{ recipe.recipe_credits }}
            </div>
        </div>
        <div><br><br>
          <!-- ratings -->
          <div class="no-print">
            <h5>ratings</h5>
            <div class="ratings">
              <i class="fa fa-thumbs-up"></i><span class="ratings-value">893</span><i class="fa fa-thumbs-down"></i>
            </div>
        </div>
        </div>
      </div>   
  </div>
</section>
<br>
<hr>
<section class="section-two">
  <div class="row">
    <!-- loop to display ingredients -->
    <div class="col-md-6 mt-4 list-ingredients-background">
      <h3 class="text-center">Ingredients</h3>
      {% for ingredients in recipe.recipe_ingredients %}
        <ul class="ingredient-list">
          <li class="ingredient-item">{{ ingredients }}</li>
        </ul>
        <hr class="note-paper-lines text-center">
      {% endfor %}
    </div>
    <!-- loop to display steps for cooking -->
    <div class="col-md-6 mt-5">
        <h3 class="text-center">Steps</h3>
        {% for steps in recipe.recipe_steps %}
          {% for i in steps %}
          {% endfor %} 
              <p class="step-block clearfix">{{ loop.index }}. <span class="step-text">{{ steps }}</span></p>
              <hr class="hr-steps">
        {% endfor %}
      </div> 
  </div>
</section>
<hr>
<section class="section-three no-print">
  <!-- list of allergens and social sharing buttons -->
  <div class="row">
    <div>
      <h4>This is for allergens and social sharing buttons</h4>
    </div>
  </div>
</section>
{% endblock content %}